name: Deploy to Hostinger

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: List files for debugging
        run: ls -R
      
      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build Frontend
        working-directory: ./frontend
        run: npm run build

      - name: Deploy Frontend via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: 145.79.212.7
          username: u177524058.lawngreen-clam-479376.hostingersite.com
          password: Devima@0812
          local-dir: ./frontend/dist/
          server-dir: ./public_html/

      - name: Deploy Backend (PHP) via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: 145.79.212.7
          username: u177524058.lawngreen-clam-479376.hostingersite.com
          password: Devima@0812
          local-dir: ./backend_php/
          server-dir: ./public_html/backend_php/
